@model IEnumerable<TrackingPedidos.Models.Pedidos>
@{
    ViewData["Title"] = $"Reporte de pedidos enviados en {ViewData["Fecha"]}";
}

<h1 class="report-title"><b>@ViewData["Title"]</b></h1>
<h4><b>Total de pedidos:</b> @Model.Count()</h4>
<table class="table table-bordered" style="width:100%" id="dataTable">
    <thead class="thead-dark">
        <tr>
            <th>Número Factura</th>
            <th>Total</th>
            <th>Lugar Origen</th>
            <th>Lugar Destino</th>
            <th>Estado</th>
            <th>Fecha Despachado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.InvoiceNumber</td>
                <td style="text-align:right">@item.PedTotal</td>
                <td>@item.PedLugarOrigen</td>
                <td>@item.PedLugarDestino</td>
                <td>@item.FullEstado</td>
                <td>@item.PedFechaDespachado</td>
            </tr>
        }
    </tbody>
</table>

@section Styles{
    <link href="~/lib/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <style>
        .report-title {
            color: red;
            text-align: center;
        }
    </style>
}

@section Scripts{
    <script src="~/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'pdf'
                ]
            });
        });
    </script>
}